<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/public/css/index.css" type="text/css" />
    </head>
    <body>
        
        <div class="uploadDiv">
            <p id="fileSize">Size:: <%= fileSize %> KB</p>
            <a href="/"><input class="btn btn-primary" id="uploadAgainButton" type="button" value="Upload Again"/></a>
        </div>
        

        <script type="text/javascript" src="/public/js/jquery-2.2.4.min.js"></script>
        <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    </body>
</html>